html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%
}

.canvas {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    background: #52b788;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #0a9396;
    border-radius: 10px;
    z-index: 10;
    width: 500px;
    max-width: 80%;
    color: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.modal.active {
    transform: translate(-50%, -10%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #0a9396;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

.modal-body {
    padding: 10px 15px;
}

.element {
    height: 100px;
    width: 100px;
    background-color: #2a9d8f;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: table;
    cursor: grabbing;
    transition: transform .2s;
}

.element:hover {
    transform: scale(1.2);
}

.element > p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    user-select: none;
}

.element:after {
    content: '';
    display: block;
    clear: both;
}

.arrow-right:after {
    content: "";
    display: inline-block !important;
    width: 0;
    height: 0;
    border-left: 8px solid #264653;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    vertical-align: middle;
}

.arrow-right:before {
    width: 35px;
    height: 2px;
    background: #264653;
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.circle {
    position: absolute;
    z-index: 1;
    cursor: grabbing;
    transition: transform .2s;
}

.line {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    fill: #2a9d8f;
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
}

.valueText {
    text-anchor: middle;
    word-wrap: break-word;
    text-decoration: none;
    pointer-events: none;
    user-select: none;
    color: white;
}

.rect {
    fill: #2a9d8f
}